@font-face {
    font-family: 'Ubuntu';
    src: url('http://www.google.com/webfonts/specimen/Ubuntu');
}

body {
    margin: 1;
    padding: 1;
    font-family: 'Ubuntu', serif!important;
    color: white;
}

h1 {
    font-size: 3em;
    margin: 0.5em;
}

i {
    margin: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #d3d3d3;
}
