@font-face {
	font-family: 'VCR OSD Mono';
	src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'VCR OSD Mono', serif!important; 
	color: white;
	font-style: italic, bold;
    text-shadow: 1px 2px black;
}

h1 {font-size: 3em; margin: 0.5em;}

i {margin: 14px;}

a {color: white; text-decoration: none;}
a:hover {
    color: lightgray;
}

@import 'dist/japanese-fonts.min.css';